<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <% if flash[:notice] %>
        <p id="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p id="alert"><%= flash[:alert] %></p>
      <% end %>
    </div>
    <div>
      Current User is: <%= current_user ? current_user[Bigmouth.config.username_key.to_sym] : "Guest" %>
    </div>
    <%= yield %>
  </body>
</html>
